* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #aeb6bf;
  transition: background .7s;
}

body, button, textarea, input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

div#root {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

div#content {
  width: 18.75rem;
  height: 18.75rem;
  padding: 0.9375rem;
  border-radius: 1.5625rem;
  background: #d0d3d4;
  box-shadow: 10px 10px #212f3c;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#content h1 {
  font-size: 1.5625rem;
  color: #212f3c;
}

div#content section.data {
  padding: 1.5625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

div#content section.data label {
  font-size: 1.125rem;
}

div#content section.data input {
  border: 0;
  padding: 0.3125rem;
  border-radius: 1.25rem;
  outline: none;
  box-shadow: 3px 3px #212f3c;
}

div#content section.data div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
}

button {
  width: 100%;
  padding: 0.625rem;
  border-radius: 1.25rem;
  background: #212f3c;
  color: #fff;
  transition: all .7s;
}

button:hover {
  filter: opacity(0.9);
}

div#content section.password {
  padding: 0.9375rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.hidden {
  visibility: collapse;
}

div#content section.password button {
  width: 100%;
  padding: 0.625rem;
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;

  background: #212f3c;
  color: #fff;
}

div#content section.password button img {
  width: 1rem;
  fill: #fff;
}